@font-face {
  font-family: 'Inter';
  src: url('./Inter-Black.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Regular.ttf');
}